<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>org-appextension-feature-password-management</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>afnvision</string>
		<string>artisto</string>
		<string>fb135080810021772</string>
		<string>fb1616109281957056</string>
		<string>fb318204051605400</string>
		<string>fb</string>
		<string>gplus</string>
		<string>icq</string>
		<string>italia-online-mail-x-callback</string>
		<string>italia-online-mail-x-callback-corp</string>
		<string>itms-apps</string>
		<string>itms-services</string>
		<string>jwscheme</string>
		<string>mailruagent</string>
		<string>mailrugames</string>
		<string>mailrumail</string>
		<string>mailrumyworld</string>
		<string>mailrunews</string>
		<string>mycom-mail-x-callback</string>
		<string>mycom-mail-x-callback-corp</string>
		<string>snapster</string>
		<string>torg</string>
		<string>tweetbot</string>
		<string>twitter</string>
		<string>vk5544449</string>
		<string>x-mailrumyworld</string>
		<string>youla</string>
		<string>blablacar</string>
		<string>waze</string>
		<string>wazerider</string>
		<string>dublway</string>
		<string>firefox</string>
		<string>googlechrome</string>
		<string>googlechromes</string>
		<string>dclub</string>
		<string>whatsapp</string>
		<string>viber</string>
		<string>tg</string>
		<string>fb-messenger</string>
		<string>tamtam</string>
		<string>skype</string>
		<string>cian</string>
		<string>domofond</string>
		<string>aliexpress</string>
		<string>joom</string>
		<string>lamoda</string>
		<string>ozon</string>
		<string>yandexmarket</string>
		<string>youla</string>
		<string>wish</string>
		<string>dromauto</string>
		<string>autoru</string>
		<string>ru.avito</string>
		<string>fb513232145676534</string>
		<string>fb417006688379737</string>
		<string>ubereats</string>
		<string>foodfox</string>
		<string>dclub</string>
		<string>ZakaZaka</string>
		<string>asos</string>
		<string>zara</string>
		<string>com.mango.2010</string>
		<string>com.hm.goe</string>
		<string>dlkv</string>
		<string>nap</string>
		<string>farfetch</string>
		<string>bonprix</string>
		<string>bershka</string>
		<string>oodjiIPhone</string>
		<string>pullbear</string>
		<string>babaduapp</string>
		<string>fb291735881020245</string>
		<string>merchantApp</string>
		<string>ulmart</string>
		<string>mediamarkt</string>
		<string>sportmaster</string>
		<string>vzt</string>
		<string>yandextaxi</string>
		<string>uber</string>
		<string>gettaxi</string>
		<string>maximzakaz</string>
		<string>CityMobil</string>
		<string>megafonlk</string>
		<string>mftv</string>
		<string>inshopper.ru</string>
		<string>odnoklassniki</string>
		<string>mrhoroscopes</string>
		<string>mailrunewsopennews</string>
		<string>vk</string>
		<string>cloudmailru</string>
		<string>rto</string>
		<string>yandexmusic</string>
		<string>boom</string>
		<string>lync-intunemam</string>
		<string>lync</string>
		<string>sip</string>
		<string>sip-intunemam</string>
		<string>ms-sfb-tp</string>
		<string>ms-sfb-df</string>
		<string>ms-sfb</string>
		<string>ms-sfb-intunemam</string>

		<string>com.hammerandchisel.discord</string>

		<string>com.google.hangouts</string>
		<string>com.google.hangouts-v3</string>
		<string>com.google.sso.183697946088-m3jnlsqshjhh5lbvg05k46q1k4qqtrgn</string>

		<string>fb-messenger-share-api</string>
		<string>fb-messenger-neue</string>
		<string>fb-messenger-diode</string>
		<string>fb-messenger</string>
		<string>fb-messenger-public</string>
		<string>fb237759909591655</string>
		<string>fb-messenger-share</string>
		<string>fb-messenger-voip</string>
		<string>fb-messenger-group-thread</string>
		<string>fb-messenger-bishop</string>
		<string>fb-messenger-platform-20150714</string>
		<string>fb-messenger-platform-20150305</string>
		<string>fb-messenger-platform-20150218</string>
		<string>fb-messenger-platform-20150128</string>
		<string>fb-messenger-platform</string>
		<string>fb-messenger-api20131028</string>
		<string>fb-messenger-api20140131</string>
		<string>fb-messenger-api20140301</string>
		<string>fb-messenger-api20140430</string>
		<string>fb-messenger-api</string>
		<string>fb-messenger-share-api</string>
		<string>fb-messenger-public</string>
		<string>fb-messenger-family</string>
		<string>fb-messenger-neue</string>
		<string>fb-page-messages</string>
		<string>fb-messenger-diode</string>
		<string>fb-messenger</string>
		<string>fb237759909591655</string>
		<string>fb-messenger-share</string>
		<string>fb-messenger-voip</string>
		<string>fb-messenger-platform-20150714</string>
		<string>fb-messenger-platform-20150305</string>
		<string>fb-messenger-platform-20150218</string>
		<string>fb-messenger-platform-20150128</string>
		<string>fb-messenger-platform</string>
		<string>fb-messenger-group-thread</string>
		<string>fb-events-share</string>
		<string>fb-messenger-quicksilver-20170327</string>
		<string>fb-messenger-bishop</string>
		<string>fb-messenger-whatsapp-2</string>
		<string>fb-messenger-sls</string>
		<string>fb-messenger-cw</string>
		<string>fb-messenger-nbf</string>
		<string>fb-messenger-prefill-20191211</string>

		<string>sgnl</string>

		<string>slack</string>
		<string>com.googleusercontent.apps.331588195051-jsmlcgdl2li407e48kjpjqgrb50k7u7c</string>

		<string>appcenter-e7c87d62-956b-468f-ab23-1e33f6920b6c</string>
		<string>msteams</string>
		<string>msteams-intunemam</string>
		<string>hae7c87d62956b468fab231e33f6920b6c</string>
		<string>hae7c87d62956b468fab231e33f6920b6c-intunemam</string>
		<string>x-msauth-ms-st</string>
		<string>x-msauth-ms-st-intunemam</string>
		<string>msteams-fl</string>

		<string>threemawork</string>

		<string>VIPole</string>

		<string>wexinVideoAPI</string>
		<string>weixin</string>
		<string>weixinapp</string>
		<string>fb290293790992170</string>
		<string>wechat</string>
		<string>QQ41C152CF</string>
		<string>prefs</string>
		<string>wx703</string>
		<string>weixinULAPI</string>
		
		<string>zoomus</string>
		<string>zoomphonecall</string>
		<string>AasDd9D133C-B9d78-4Cd10-A9f9fn0-92B8jCA6ko7F32F</string>
		<string>wxbcc2200e9019ab4f</string>
		<string>wx168a26bec2905463</string>

	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
